@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@layer components {

  /* ---------------------------------HEADER------------------------------------------------- */
   header {
      @apply px-[20px]
      bg-light text-clrAccent w-full box-border block
   }

   header .container {
    @apply w-full md:w-[970px] lg:w-[1170px] md:p-0 lg:p-0
   }

   header .container::before {
    @apply content-[""] table box-border
   }

   .header__logo {
    @apply w-[200px] float-left pt-2.5;
   }

   
   header nav {
    @apply 
    absolute w-full h-full bg-light top-[75px] left-[-100%] z-[1]
    border-t border-solid border-gray-300 duration-300
    float-right block 
    
    lg:static md:border-0 md:w-7/12 md:float-right transition-all 
    md:border-b-0 lg:border-b-0 
    
    /* tablet */
    tablet:absolute tablet:w-full tablet:h-full tablet:bg-light tablet:top-[75px] tablet:left-[-100%] 
    tablet:z-[1]
    tablet:border-t tablet:border-solid tablet:border-gray-300 tablet:duration-300 tablet:float-right
    tablet:block tablet:border-0;
   }

   header .container {
    @apply md:w-[1170px]
   }

   header nav ul {
    @apply block text-center m-0 p-0 md:flex md:flex-row lg:flex lg:flex-row
    /* tablet */
    tablet:block tablet:text-center tablet:m-0 tablet:p-0 tablet:bg-light
   }

   header nav ul li {
    @apply list-none relative 
    /* tablet */
    tablet:list-none
    tablet:relative
   }


   li.submenu-item::after {
    @apply content-[""] clear-both block text-[0] h-0
    tablet:content-[""] tablet:clear-both tablet:block tablet:text-[0] tablet:h-0
   }

   /* HEADER NAV DESKTOP */
   header nav ul li a {
    @apply border-b lg:border-b-0 border-solid border-gray-300 h-[60px] leading-[60px] w-full text-sm uppercase
    inline-block px-4 relative md:h-[75px] transition-all
    md:leading-[75px] md:text-[0.87rem] md:uppercase  md:px-[16px] md:relative md:no-underline
    lg:block 
    /* tablet */
    tablet:inline-block 
    tablet:border-b tablet:border-solid tablet:border-gray-300 tablet:h-[60px] tablet:leading-[60px] 
    tablet:w-full tablet:text-sm tablet:uppercase tablet:px-4 tablet:relative;
   }

   /* hover on the content of inside the burger menu */
   header nav.open ul li .submenu-name {
    @apply  hover:bg-clrAccent hover:text-light
    tablet:hover:bg-clrAccent
    tablet:hover:text-light;
   }

   header nav.open .dropdown-menu {
    @apply bg-[#480f2d]
    tablet:bg-[#480f2d];
   }


   .submenu-name::after {
    @apply bg-transparent bottom-2.5 block h-[5px] left-1/2 absolute 
    transition-all duration-300 ease-in-out w-0 content-[""] md:content-[""] md:absolute md:transition-all 
    md:duration-300 md:bg-clrMagentaPurple md:w-full md:left-0 md:origin-center
    md:ease-in-out scale-x-0
    
    /* tablet */
    tablet:bg-light tablet:bottom-2.5 tablet:block tablet:h-[5px] tablet:left-1/2 tablet:absolute 
    tablet:transition-all tablet:duration-300 tablet:ease-in-out tablet:w-0 
   }

   .submenu-name:hover:after {
    @apply md:scale-x-100 transition-all
   }

   /* DROPDOWN */
   header nav ul li ul {
    @apply relative left-0 p-0 bg-clrAccent text-center border-t-[3px] border-solid
    border-[#6a103f] md:border-t-[3px] md:border-solid md:border-[#6a103f] 
     min-w-[273px] text-left md:absolute md:z-50 md:left-0 md:bg-light md:text-clrAccent 
     transition-all
    /* VISIBLILITY */
    hidden md:hidden 

    /* tablet */
    tablet:relative tablet:left-0 tablet:p-0 tablet:bg-clrAccent tablet:text-center tablet:border-t-[3px]
    tablet:border-solid tablet:border-[#6a103f] tablet:min-w-[273px] tablet:transition-all
   }

   /* FOR DROPDOWN OF WEBSITE */
   #banner {
    @apply md:relative
   }

   header {
    @apply md:relative
   }

   /* SUB MENU ITEM LI */
   header nav ul li ul li {
    @apply py-[5px] w-full block hover:bg-clrAccent md:py-5 md:w-full md:block
    md:hover:bg-light md:py-[5px] md:transition-all
    /* tablet */
    tablet:py-[5px]  tablet:w-full  tablet:block  tablet:hover:bg-clrAccent
   }

   header nav ul li ul li a {
    @apply border-none h-auto leading-[1.6] p-0 w-[90%] text-light 
    md:h-auto md:leading-[1.6] md:p-0 md:text-clrAccent md:text-left md:ml-2
    /* tablet */
    /* tablet:border-none tablet:h-auto tablet:leading-[1.6] tablet:p-0 tablet:w-[90%] tablet:text-light  */
   }

   /* .submenu-name::after {
    @apply bg-transparent bottom-2.5 block h-[5px] left-1/2 absolute 
    transition-all duration-300 ease-in-out w-0 content-[""] md:content-[""] md:absolute md:transition-all 
    md:duration-300 md:bg-clrMagentaPurple md:w-full md:left-0 md:origin-center
    md:ease-in-out md:scale-x-0;
   }

   .submenu-name:hover:after {
    @apply md:scale-x-100
   } */

   /* DROP DOWN MENU HOVER ON DESKTOP */

   .dropdown-menu {
    @apply md:border-t-[3px] md:border-clrAccent md:p-[10px] md:min-w-[273px]
    md:text-left;
   }

   .dropdown-item{
    @apply md:py-[5px] md:w-full md:block
   }

   .dropdown-item a {
    @apply md:w-[90%] md:h-auto md:leading-[1.6] md:p-[0px] md:whitespace-nowrap
    
   }

   .dropdown-item a::after {
    @apply bg-transparent bottom-0 block h-[5px] left-1/2 absolute 
    transition-all duration-300 ease-in-out w-0 content-[""] md:content-[""] md:absolute md:transition-all 
    md:duration-300 md:bg-clrMagentaPurple md:w-full md:left-0 md:origin-center md:h-[2px]
    md:ease-in-out md:scale-x-0
    
    tablet:bg-transparent tablet:bottom-0 tablet:block tablet:h-[5px] tablet:left-1/2 tablet:absolute
    tablet:transition-all tablet:duration-300 tablet:ease-in-out tablet:w-0 tablet:content-[""];
   }

   .dropdown-item a:hover:after {
    @apply md:scale-x-100 md:transition-all
    tablet:scale-x-100 tablet:transition-all
   }


   /* HOVER SERVICES ON MOBILE */
   header nav ul li:nth-child(3):hover .dropdown-menu {
    @apply block transition-all duration-[0.5s] md:block
    tablet:block tablet:transition-all tablet:duration-[0.5s] tablet:block;
   }

   /* HOVER SERVICES ON DESKTOP */
   #menu-primary .submenu-item:nth-child(3):hover .dropdown-menu {
    @apply md:block md:transition-all;
   }

/* ---------------------------------BURGER MENU------------------------------------------------ */
.burgir-menu {
  @apply block text-dark float-right h-[75px] leading-[90px]
  cursor-pointer lg:hidden transition-all ease-in-out duration-500
}

.burgir-menu {
  @apply w-10 h-10 relative mx-auto my-[18px] transition-all ease-in-out duration-500 cursor-pointer
  lg:hidden;
}

.burgir-menu span {
  @apply block absolute h-2 w-full bg-clrMagentaPurple rounded-[9px]
  opacity-[1] left-0 rotate-0 transition-all duration-[250] ease-in-out;
}

.burgir-menu span:nth-child(1) {
  @apply top-0
}

.burgir-menu span:nth-child(2) {
  @apply top-[15px];
}

.burgir-menu span:nth-child(3) {
  @apply top-[15px];
}

.burgir-menu span:nth-child(4) {
  @apply top-[30px];
}


/* ---------------------------------NAV------------------------------------------------ */

nav.open {
  @apply w-full left-0 transition-all ease-in-out duration-500
  tablet:w-full tablet:left-0 tablet:transition-all tablet:ease-in-out tablet:duration-500;
}

.burgir-menu.open span:nth-child(1) {
 @apply top-[18px] w-[0%] left-[50%] transition-all;
}

.burgir-menu.open span:nth-child(2) {
  @apply transform rotate-[225deg] transition-all;
}

.burgir-menu.open span:nth-child(3) {
  @apply transform rotate-[-225deg] transition-all;
}

.burgir-menu.open span:nth-child(4) {
  @apply top-[18px] w-[0%] left-[50%] transition-all;
 }
 

/* ---------------------------------BANNER------------------------------------------------ */
/* ANIMATION ON THE BACKGROUND */
@keyframes Gradient {
  0% {
    background-position: 20% 50%;
  }
  100% {
    background-position: 42% 80%;
  }
}

@keyframes Gradient_Mobile {
  0% {
    background-position: 20% 50%;
  }
  100% {
    background-position: 50% 77%;
  }
}

@keyframes fadeInUp{
0% {
  opacity: 0;
  transform: translate3d(0, 100%, 0);
}
100% {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

}

#banner {
  @apply bg-hero md:py-[10vh] bg-clrLightGray
  bg-cover animate-gradient-mobile md:animate-gradient lg:animate-gradient duration-[15s];
}

.banner__about {
  @apply bg-hero md:py-[10vh] bg-clrLightGray
  bg-cover bg-center md:min-h-[auto] animate-gradient-mobile md:animate-gradient lg:animate-gradient duration-[15s];
}

.banner__about .container {
  @apply w-full lg:mr-auto lg:ml-auto lg:pl-[15px] lg:pr-[15px] lg:w-[1170px]
  md:w-[970px];
}

.banner__about .banner__wrapper {
  @apply flex flex-wrap
}

.banner__about .banner__top {
  @apply w-full md:w-[50%] lg:w-[50%]
}

.banner__about .banner__bottom {
  @apply w-full md:w-[50%] lg:w-[50%];
}


#banner .container {
  @apply md:w-[1170px];
}

.banner__wrapper {
  @apply flex flex-wrap md:grid md:grid md:grid-cols-2
}

.banner__top {
  @apply flex flex-col relative min-h-[1px] px-[15px];
}

.banner__content {
  @apply h-auto md:relative md:m-auto animate-fadeInUp; 
}

#banner .banner__content {
  @apply md:w-full
}

#banner .banner__content {
  @apply top-0 bottom-0 m-auto
}

.banner-title {
  @apply text-[30px] leading-[30px]; 
}

#banner .banner__content p {
  @apply m-0;
}

.banner__content a {
  @apply uppercase mt-4;
}

.banner__bottom {
  @apply flex flex-col w-full relative min-h-[1px] px-[15px] animate-fadeInUp
}

/* ---------------------------------WHO WE ARE------------------------------------------------ */
.aboutUs .container{
  @apply mr-auto ml-auto pl-[15px] pr-[15px] w-full md:w-[970px] lg:w-[1170px]
}

.whoWeAre {
  @apply relative
}

.whoWeAre .whoWeAre__content {
  @apply cursor-pointer max-w-[900px] text-center mx-auto
}

.whoWeAre .whoWeAre__content a {
   @apply cursor-pointer;
}


/* ---------------------------------YOUTUBE VIDEO------------------------------------------------ */

@keyframes slideDown {
  0% {
    transform: translateY(-20rem);
  }
  100% {
    transform: translateY(0rem);
  }
}

.youtube-modal {
  @apply  fixed top-0 left-0 z-[9999] w-full h-screen bg-black bg-opacity-50
  hidden;
}

.youtube-modal-video {
  @apply py-12 px-6 w-full rounded-[5px] max-w-[720px] mx-[15px] relative
  animate-slideDown shadow-md; 
}

.youtube-modal-video iframe {
  @apply w-full
}

.lazyloaded {
  @apply opacity-0;
}

.youtube-modal-video a {
  @apply absolute top-0.5 right-4 text-[2rem] rotate-45 cursor-pointer;
}

/* ---------------------------------WHAT WE OFFER------------------------------------------------ */
#services {
  @apply bg-services bg-cover bg-center bg-no-repeat text-light md:py-[15vh]
  md:text-light md:bg-cover md:bg-center md:bg-no-repeat 
}

#services .container {
  @apply md:w-[970px] lg:w-[1170px];
}

#menu-footer li {
  @apply whitespace-nowrap text-center;
}
#menu-footer  ul {
  @apply max-w-44 mx-auto;
}
#menu-footer li a {
  @apply max-w-44 mx-auto;
}

.offered__Services {
  @apply m-0 lg:grid lg:grid-cols-4;
}

/* .offered__Services::before {
  @apply content-[""] table box-border;
} */

.offer {
  @apply relative min-h-px px-[15px] mb-[60px] text-center ;
}

.offer img {
  @apply h-[50px] overflow-clip max-w-full border-0 mx-auto animate-fadeInLeft;
}

.offer h2 {
  @apply h-[76px] text-xl leading-[30px] clear-both font-normal;
}

.offer__icon{
  @apply opacity-[1] transition-opacity duration-[400] delay-0 h-[50px]
  md:mb-2;
}

.offer__details {
  @apply text-left leading-[2] list-circle;
}

.offer__details li::after {
  @apply content-[""] clear-both block text-[0] h-0 hidden;
}

/* ---------------------------------TESTIMONIALS------------------------------------------------ */
.testimonials {
  @apply bg-clrLightGray
}

.testimonials .container {
  @apply md:w-[1170px];
}

.testimonials h2 {
  @apply mb-[60px] font-semibold text-center
}

.testimonials span {
  @apply font-extrabold
}

.client__testimonial {
  @apply flex flex-col w-full float-left relative min-h-1 px-4;
}

.client__testimonial__content {
  @apply flex animate-fadeInRight visible h-full px-[4vh] text-center
  items-center justify-center
}

.client__testimonial__desc {
  @apply relative z-[1] font-bold
}

.client__testimonial__desc::before {
  @apply content-[url(/dist/img/quote-left.svg)]
  w-24 h-auto top-[-70px] left-[-50px] absolute z-[-1] box-border;
}

.client__testimonial__desc h2 {
  @apply font-bold clear-both;
}

.client__testimonial__desc::after {
  @apply content-[url(/dist/img/quote-right.svg)]
  w-24 bottom-[-70px] right-[-50px] absolute z-[-1] h-auto
}

.client__pic img {
  @apply max-w-full mx-auto opacity-[1] transition-opacity duration-[400ms] delay-0;
}



/* ---------------------------------SLIDER------------------------------------------------ */
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/* .testimonials__slider {
  @apply overflow-hidden relative;
} */

.testimonials__card {
  @apply flex flex-wrap  lg:grid lg:grid-cols-2
}

.client__profile {
  @apply w-full flex flex-col float-left 
  relative min-h-px px-[15px];
}

.client__profile__content {
  @apply visible animate-fadeInLeft mb-[60px]
  text-center
}

.client__pic img {
  @apply w-80 h-80 object-cover rounded-[50%]
  opacity-100 transition-opacity duration-[400] delay-0
  max-w-full overflow-clip text-center
}

.client__name h2{
  @apply font-bold text-xl leading-[30px] clear-both block
  my-3 mx-0;
}

.client__position p {
  @apply mb-[20px];
}

.client__company h4 {
  @apply font-bold text-[14px] mb-0 clear-both block my-4 mx-0
  border-0 italic m-0 outline-none p-0 align-baseline;
}

/* BACKUP TNS NAV */
/* .tns-nav {
  @apply absolute left-[50%] translate-x-[-50%] z-[9999] bottom[20px];
} */

.testimonial__wrapper .tns-outer {
  @apply relative;
}

.testimonial__wrapper .tns-nav {
  @apply z-[999] absolute bottom-[1rem]
  left-[50%]
  -translate-x-1/2
  translate-y-[250%];
}

.testimonial__wrapper .tns-liveregion {
  @apply hidden;
}

/* BACKUP TNS NAV */
/* .tns-nav button {
  @apply w-[15px] h-[15px] bg-clrMagentaPurple rounded-[50%] 
  mx-[5px] leading-normal cursor-pointer inline-block border-none
  box-border z-[9999];
} */

.testimonial__wrapper .tns-nav button {
  @apply mx-[5px]
  w-[15px]
  h-[15px]
  rounded-[50%]
  border-none
  bg-clrAccent
  leading-normal
  inline-block border-none
  box-border z-[9999] cursor-pointer ;
}

.testimonial__wrapper button.tns-nav-active {
  @apply bg-clrLightMagenta;
}

/* ---------------------------------EVENTS AND ACTIVITIES------------------------------------------------ */
#events__activities {
  @apply relative min-h-[auto] py-[10vh] block box-border;
}

.events__activities .container {
  @apply md:w-[970px] lg:w-[1170px];
}

.events__activities h2 {
  @apply mb-[60px] text-center clear-both font-normal 
}

.events__activities span {
  @apply font-extrabold
}

.events__activities__wrapper {
  @apply flex flex-wrap mb-[60px];
}

.news__card {
  @apply flex flex-col relative min-h-[1px] pl-[15px] pr-[15px] 
  md:w-[33.33333333%]
}

.news__box {
  @apply relative h-full visible animate-fadeInUp shadow-md
  mb-[40px] box-border block;
}

.news__image {
  @apply relative transition duration-500 ease-in-out mb-[-1rem]
}

.img__box {
  @apply overflow-hidden;
}

.img__box img {
  @apply w-full object-cover h-48 transition-all ease-in-out opacity-[1]
  border-0 max-w-full overflow-clip box-border transform hover:scale-125 duration-500 bg-clip-padding;
}

.news__description {
  @apply p-[30px] mb-[60px] text-center;
}

.news__description h2 {
  @apply mb-[20px] font-bold text-[20px] leading-[30px] clear-both;
}

.news__description p {
  @apply mb-[20px];
}

/* ---------------------------------FOOTER------------------------------------------------ */
.footer {
  @apply bg-clrAccent py-14; 
}

.footer__wrapper {
  @apply text-light lg:grid lg:grid-cols-3;
}

/* FOOTER SOCIALS */
.footer__socials {
  @apply py-5 flex flex-col items-center lg:px-2 lg:py-0 lg:border-r-[1px] border-light
  animate-fadeInUp
}

.footer__socials p {
  @apply text-xs mb-5;
}

.footer__socials ul {
  @apply flex gap-[2rem];
}


/* FOOTER SERVICES */
.footer__services {
  @apply py-5 flex flex-col items-center lg:px-2 lg:py-0 lg:border-r-[1px] border-light
  animate-tagAnimation
}

.footer__services ul {
  @apply flex flex-col text-center gap-3;
}

.footer__services h2 {
  @apply text-center text-sm font-semibold mb-3;
}

.footer__services li {
  @apply text-[10px];
}

.footer__services li a:hover{
  @apply opacity-70 transition-all;
}


/* FOOTER CONTACT */
.footer__contact {
  @apply footer-box py-5 flex flex-col items-center lg:px-2 lg:py-0 lg:border-r-[1px] lg:!items-start lg:ml-4 border-light
  animate-tagAnimation;
}

.footer__contact h2 {
  @apply text-center text-sm mb-3 font-semibold lg:text-left;
}

.footer__contact ul {
  @apply flex flex-col text-center lg:text-left gap-3
}

.footer__contact li {
  @apply text-[10px];
}

.footer__contact li i {
  @apply text-[15px] mr-1;
}

.footer-box:last-child {
  @apply border-none;
}

/* ---------------------------------MISSION,VISION & VALUES------------------------------------------------ */
.vision__mission {
  @apply py-[10vh] min-h-[auto] relative block;
}

.vision__mission .container {
  @apply mr-auto ml-auto pl-[15px] pr-[15px] md:w-[1170px]; 
}

.vision__mission .container::before{
  @apply content-[""] table;
}

.vision__mission__title {
  @apply ml-[-15px] mr-[-15px];
}

.vision__mission__title::before{
  @apply content-[""] table;
}

.vision__mission__title h2 {
  @apply text-center
}

.vision__mission__wrapper {
  @apply text-center mx-[-15px] md:flex md:gap-4
}

.vision__mission__wrapper::before {
  @apply content-[""] table;
}

.vision__mission__card {
  @apply relative min-h-[1px] px-[15px] md:w-[33.33333333%]
  md:text-left;
}

.card__content {
  @apply animate-fadeInLeft visible 
}

.card__content figure {
  @apply h-[280px] my-0 mx-auto
}

.card__content figure img {
  @apply h-[245px] mt-[5px] opacity-[1] transition-opacity duration-[400ms]
  delay-0 max-w-full border-0 mx-auto;
}

.card__content p {
  @apply mb-0
}

.card__content span {
  @apply text-[20px] md:text-xl 
}

/* ---------------------------------OUR TEAM------------------------------------------------ */

@keyframes tagAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
  
  }

.our__team {
  @apply min-h-[auto] relative block py-[10vh] pb-0
}

.our__team .container {
  @apply w-full md:w-[970px] lg:w-[1170px] px-[15px] ml-auto mr-auto;
}

.our__team .container::before {
  @apply content-[""] table box-border
}

.our__team__content {
  @apply animate-tagAnimation
}

.our__team__content img {
  @apply md:hidden;
}

.our__team__wrapper {
  @apply ml-[-15px] mr-[-15px];
}

.our__team__wrapper::before {
  @apply content-[""] table box-border;
}

/* WHOLE TEAM */
.team__group {
  @apply 
  /* HIDDEN ON MOBILE TEMPORARY*/
  hidden
  md:block lg:visible md:relative md:left-2/4 md:translate-x-[-50%]
  md:min-h-[420px] md:max-w-[1070px]
}

/* HOVER ON TEAM */
.team__position{
  @apply text-center hidden opacity-[1] translate-y-0 animate-tagAnimation;
}

.team__position p {
  @apply m-0 leading-[1] font-bold
}

.team__box img {
  @apply block grayscale transition-all duration-[.5s] ease-in-out
  opacity-[1] border-0 max-w-[inherit]
}

.team__box img:hover{
  @apply grayscale-0 transition-all;
}

.team__box:hover .team__position {
  @apply opacity-100 translate-y-0 block transition-all duration-[.5s];
}


/* TEAM */

/* TEAM JJ */
.team__jj {
  @apply absolute bottom-0 left-[56px] z-[2]
}

.team__jj  .team__position {
  @apply mr-[65px];
}

.team__jj img:hover {
  @apply grayscale-0 transition-all;
}

.team__jj:hover .team__position {
  @apply opacity-100 translate-y-0 block transition-all duration-[.5s];
}

/* TEAM JEFF */
.team__jeff {
  @apply absolute bottom-0 left-[126px] z-[1]
}

.team__jeff .team__position {
  @apply ml-[40px];
}

.team__jeff img:hover {
  @apply grayscale-0;
}

.team__jeff:hover .team__position {
  @apply opacity-100 translate-y-0 block;
}

/* TEAM ADA */
.team__ada {
  @apply absolute bottom-0 left-[322px] z-[2]
}

.team__ada .team__position {
  @apply mr-[40px]
}

.team__ada img:hover {
  @apply grayscale-0;
}

.team__ada:hover .team__position {
  @apply opacity-100 translate-y-0 block;
}

/* TEAM BEA */
.team__bea {
  @apply absolute bottom-0 left-[418px] z-[3]
}

.team__bea img:hover {
  @apply grayscale-0;
}

.team__bea:hover .team__position {
  @apply opacity-100 translate-y-0 block;
}

/* TEAM PATRICK */

.team__patrick {
  @apply absolute bottom-0 left-[555px] z-[2]
}

.team__patrick .team__position {
  @apply mr-[65px];
}

.team__patrick img:hover {
  @apply grayscale-0;
}

.team__patrick:hover .team__position {
  @apply opacity-100 translate-y-0 block;
}

/* TEAM RALPH */

.team__ralph {
  @apply absolute bottom-0 left-[703px] z-[1]
}

.team__ralph .team__position {
  @apply mr-[45px];
}

.team__ralph img:hover {
  @apply grayscale-0;
}

.team__ralph:hover .team__position {
  @apply opacity-100 translate-y-0 block;
}

/* TEAM MICHAEL */
.team__michael {
  @apply absolute bottom-0 left-[805px] z-[1]
}

.team__michael .team__position {
  @apply mr-[30px];
}

.team__michael img:hover {
  @apply grayscale-0;
}

.team__michael:hover .team__position {
  @apply opacity-100 translate-y-0 block visible;
}


/* ---------------------------------CTA------------------------------------------------ */
.cta {
  @apply py-[10vh] min-h-[auto] relative block;
}

.cta .container {
 @apply mr-auto ml-auto pl-[15px] pr-[15px] md:w-[1170px]; 
}

.cta .container::before {
  @apply content-[""] table;
}

.cta__wrapper {
  @apply text-center mx-[-15px]
}

/* ----------------------------------------Clients and Partners----------------------------------------- */

.client__logo li {
  @apply inline-block my-[40px] mx-[45px] w-[270px] align-middle;
}

.client__logo img {
  @apply mx-auto;
}

.clients__partners .container {
  @apply w-full md:w-[970px] lg:w-[1170px];
}

.clients__partners__wrapper {
  @apply animate-fadeInLeft
}

/* ----------------------------------------BACK TO TOP----------------------------------------- */
.back-top {
  @apply  bottom-[30px] right-[200px] text-center py-[5px]
  px-[15px] no-underline text-light 
  bg-black bg-opacity-30 rounded-[3px] 
  /* TEMPORARY */
  hidden

  max-w-56 mx-auto 
  transition-all ease-linear duration-100 hover:bg-opacity-50 border-[1px] border-solid border-light;
}

.back-top i {
  @apply fill-light w-[3rem] h-[3rem] text-center text-5xl
}

.sticky {
  @apply fixed transition duration-300 ease-in;
}

.back-top.sticky {
  @apply fixed z-[999]
}

}

@layer base {
  .container {
    @apply ml-auto mr-auto px-[15px];
  }

  .no-pd {
    @apply p-0
  }

  .container::after {
    @apply clear-both
    content-[""] table;
  }

  .container::before {
    @apply content-[""] table
  }

  body {
    @apply font-montserrat
    text-[#2b2b2b];
  }

  div {
    @apply border-0 text-base 
    font-normal m-0 outline-none p-0 align-baseline scroll-smooth block;
  }
  
  section {
    @apply min-h-[auto] relative block py-[10vh];
  }
}


@layer utilities {
  .btn--magenta {
    @apply bg-clrAccent text-light inline-block
    py-[13px] px-[25px]
    border-2 border-white rounded-full font-bold transition-all duration-500
    hover:bg-light hover:text-clrMagentaPurple 
    border-solid border-clrMagentaPurple border-[1px]
  }

  .btn-link {
    @apply absolute w-full bottom-5;
  }

  .btn--trans-white {
    @apply bg-transparent text-clrMagentaPurple inline-block
    py-[13px] px-[25px] border-[1px] border-solid border-clrMagentaPurple
    rounded-[30px] font-[700] transition-all duration-500 
    hover:bg-clrLightGray hover:text-clrMagentaPurple hover:border-clrLightGray
  }

  .bg-magenta {
    background-color: #6a103f;
    background-image: radial-gradient(circle farthest-side at center bottom, #e81a86, #6a103f 125%);
  }
  .btn--trans {
    @apply bg-transparent 
    text-light
    inline-block
    py-[13px] px-[25px]
    border-[1px] border-solid border-light
    rounded-[30px] font-[700]
    transition-all duration-[0.5s]
    hover:bg-light hover:text-clrAccent
  }

  .lazy {
    @apply opacity-[1] transition-opacity duration-[400ms] delay-0
  }
  
}